https://adventofcode.com/2020/day/2

# Part 1
---
**Problem:** How many passwords are valid according to their policies?

In [1]:
# dependencies
import numpy as np
import pandas as pd

In [2]:
# data import
df = pd.read_csv('data/d2_parsed.csv')
df.head()

In [4]:
# count across df
df['count'] = df.apply(lambda row: row['password'].count(row['letter']), axis=1)
df.head()

   low  high letter        password  count
0    5    11      t  glhbttzvzttkdx      4
1    2     4      f           cfkmf      2
2    9    12      m   mmmmmmmmmmmmm     13
3    2    10      z      vghqbzbcxf      1
4   10    11      b     tbtbvbbnbwd      5

In [5]:
# conditional testing
conditions = (df['count']>=df['low']) & (df['count']<=df['high'])
df['conditions'] = np.where(conditions, 1, 0)
df.head()

   low  high letter        password  count  conditions
0    5    11      t  glhbttzvzttkdx      4           0
1    2     4      f           cfkmf      2           1
2    9    12      m   mmmmmmmmmmmmm     13           0
3    2    10      z      vghqbzbcxf      1           0
4   10    11      b     tbtbvbbnbwd      5           0

In [6]:
answer1 = df['conditions'].sum()
print(answer1)

378

# Part 2
---

**Problem:** How many passwords are valid according to the new interpretation of the policies?

In [61]:
# import data
df2 = pd.read_csv('data/d2_parsed.csv', names=["pos1", "pos2", "letter", "password"], header=0)
df2.head()

   pos1  pos2 letter        password
0     5    11      t  glhbttzvzttkdx
1     2     4      f           cfkmf
2     9    12      m   mmmmmmmmmmmmm
3     2    10      z      vghqbzbcxf
4    10    11      b     tbtbvbbnbwd

In [62]:
# no zero-based index
df2['pos1'] = df2['pos1']-1
df2['pos2'] = df2['pos2']-1
# create column based on string index
df2['cond1'] = df2.apply(lambda row: row['password'][row['pos1']], axis=1)
df2['cond2'] = df2.apply(lambda row: row['password'][row['pos2']], axis=1)
df2.head()

   pos1  pos2 letter        password cond1 cond2
0     4    10      t  glhbttzvzttkdx     t     t
1     1     3      f           cfkmf     f     m
2     8    11      m   mmmmmmmmmmmmm     m     m
3     1     9      z      vghqbzbcxf     g     f
4     9    10      b     tbtbvbbnbwd     w     d

In [63]:
# multiple conditions
conditions = [((df2['cond1']==df2['letter']) & (df2['cond2']==df2['letter'])),
              ((df2['cond1']==df2['letter']) | (df2['cond2']==df2['letter']))]
choices = [0,1]
df2['criteria'] = np.select(conditions, choices, default=0)

In [64]:
df2.head()

   pos1  pos2 letter        password cond1 cond2  criteria
0     4    10      t  glhbttzvzttkdx     t     t         0
1     1     3      f           cfkmf     f     m         1
2     8    11      m   mmmmmmmmmmmmm     m     m         0
3     1     9      z      vghqbzbcxf     g     f         0
4     9    10      b     tbtbvbbnbwd     w     d         0

In [65]:
answer2 = df2['criteria'].sum()
print(answer2)

280