# AOC 2020 Background
* Nice resort on a tropical island
* Need 50 stars (their currency) to save xmas
* 25 days, 2 puzzles per day, and 1 star per puzzle
---

# Part 1

**Problem:** Before you leave, the Elves in accounting just need you to fix your expense report (your puzzle input); apparently, something isn't quite adding up. Specifically, they need you to find the two entries that sum to 2020 and then multiply those two numbers together. 

**Example:** suppose your expense report contained the following:

* 1721
* 979
* 366
* 299
* 675
* 1456

*In this list, the two entries that sum to 2020 are 1721 and 299. Multiplying them together produces 1721 * 299 = 514579, so the correct answer is 514579.*

**Task:**
1. Find the two entries that sum to 2020
2. What do you get if you multiply them together?

In [1]:
import numpy as np
import pandas as pd

## Data Import

In [4]:
df = pd.read_csv('data/d1_data.csv', header=None, names=['entries'])
print(f'length: {len(df)}')
df.head()

length: 200

   entries
0     1826
1     1895
2     1427
3     1931
4     1651

In [6]:
ls = df['entries'].tolist()
print(f'length: {len(ls)}')
ls[0:5]

length: 200

[1826, 1895, 1427, 1931, 1651]

## Data Loop

In [61]:
x = 0 
rng = np.arange(len(ls)-1)+1

for i in ls:
    for r in rng:
        j = ls[r]
        if i+j == 2020:
            answer = i*j 
            print("Part 1: ",i,"*",j, "=",answer)
            break
    else:
        continue
    break

1958 * 62 = 121396

---

# Part 2

The Elves in accounting are thankful for your help; one of them even offers you a starfish coin they had left over from a past vacation. They offer you a second one if you can find three numbers in your expense report that meet the same criteria.

Using the above example again,

* 1721
* 979
* 366
* 299
* 675
* 1456

the three entries that sum to 2020 are 979, 366, and 675. Multiplying them together produces the answer, 241861950.

In your expense report, what is the product of the three entries that sum to 2020?

In [65]:
i = 0
rng = np.arange(len(ls)-1)+1
rng2 = np.arange(len(ls)-2)+2

for x in ls:
    for r in rng:
        y = ls[r]
        for s in rng2:
            z = ls[s]
            if x+y+z == 2020:
                answer = x*y*z 
                print("Part 2: ",x,"*",y, "*",z, "=", answer)
                break
        else:
            continue
        break
    else:
        continue
    break

426 * 1477 * 117 = 73616634